name: Check Code Quality

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    
    # On aligne la version Python avec ton daily_run (3.11)
    - name: Set up Python 3.11
      uses: actions/setup-python@v5
      with:
        python-version: "3.11"
        cache: 'pip'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install flake8 pytest
        pip install -r requirements.txt
        pip install pandas-ta

        
    - name: Lint with flake8
      run: |
        # Arrête le build s'il y a de grosses erreurs de syntaxe
        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
        # Affiche juste des avertissements pour le style (longueur de ligne, etc.)
        flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics

    # J'ai mis cette étape en conditionnel "continue-on-error" 
    # car tu n'as probablement pas encore écrit de tests dans un dossier tests/
    - name: Test with pytest
      continue-on-error: true 
      run: |
        if [ -d "tests" ]; then
          pytest
        else
          echo "⚠️ Pas de dossier 'tests' trouvé. Skipping tests."
        fi