name: Create Release

on:
  push:
    tags:
      - 'v*' # Se déclenche pour tout tag commençant par 'v'

jobs:
  build:
    runs-on: ubuntu-latest
    permissions: # Important pour autoriser l'écriture de la release
      contents: write
      
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ github.ref_name }}
          name: Release ${{ github.ref_name }}
          draft: false
          prerelease: false
          generate_release_notes: true # Génère automatiquement la liste des changements